
.bestselling  ul.products.cls-5 {
    grid-template-columns: repeat(5, 1fr);
}
.bestselling  ul.products.cls-5 {
    grid-template-columns: repeat(4, 1fr);
}
.woocommerce.bestselling ul.products.columns-5 li.product{
    width: auto;
}

@media only screen and (max-width: 750px) {
    
    .blog-post{
        grid-template-columns: auto auto ;
    }
    .post-item img {
        max-height: 265px;
    }
    
}
