
@media only screen and (min-width: 750px) {
    .blog-post{
        grid-template-columns: auto auto auto auto;
    }

    .bestselling  ul.products,
    .catproducts  ul.products {
        grid-template-columns: repeat(5, 1fr);
    }
    .love-story,
    .overview {
        width: 50%;
        margin: 30px auto 50px auto;
        text-align: center;

    }

}

.rounded-md {
    border-radius: .375rem;
}
.gap-3 {
    gap: .75rem;
}
.items-center {
    align-items: center;
}

.w-auto {
    width: auto;
}
.bg-slate-100 .h-12 {
    height: 3rem;
}

@media only screen and (min-width: 1000px){
    .pc-hide, .hide-pc{
        display: none;
    }
   .lg\:flex-row {
        flex-direction: row;
    }
        .lg\:py-5 {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}
@media only screen and (max-width: 750px){
    .bn_top a p{
        color: #fff;
    }
    .hide-mb{
        display: none;
    }
    .site-main{
        padding: 10px;
    }
    .blog-post{
        grid-template-columns: auto auto ;
    }
    .post-item-first{
        grid-template-columns: 1fr;
    }
    .post-item-first img{
        height: auto;
    }
    .post-item img {
        height: auto;
    }
    .post-item-first .post-title {
        font-size: 1.5rem;
        text-align: justify;
    }
    #layout_body, .resp_wrap {
        max-width: 100%;
        padding: 0px !important;
    }
    .post-content,
    .sidebar{
        width: initial;
        float: none;
        display: block;
        max-width: 100%;
    }
    h1.post-title{
        text-align: justify;
        font-size: 2.5rem;
    }
    .post-content{
        padding-right: 0;
    }
    
    .arow{
        padding: 10px;
    }
   
   
    .term-description{
        padding: 0px;
        line-height: 1.6em;
    }

    .container{
        padding:10px;
    }
    .layout_footer{
        padding: 10px;
    }
    .bg-slate-100{
        margin-top: 15px;
    }
    .bg-slate-100 .py-10{
        padding-top: 10px;
    }
    .bg-slate-100 h3.font-title{
        margin-bottom:0;
        font-size: 26px;
    }
    .bg-slate-100 .flex{
        gap: 1px;
    }
    .bg-slate-100 h4.font-title{
        font-weight:700;
    }
    .main{
        padding: 10px;
    }
    .resp_top_search a.btn_search_open {
        height: 21px;
        margin-top: 13px;
        display: block;
    }
    .filtered_item_sorting .item_total>a .num{
        font-size: 16px;
    }
    .woocommerce ul.products li.product .price del{
        float: left !important;
        margin-left: 0 !important;
    }
    .filtered_item_sorting{
        position: relative;
        z-index: 9999;
        background-color: #fff;
    }
    .search_filter_wrap {
        margin-bottom: 15px;
    }
   
    .wrap_pagi{
        gap: 10px 0;
    }
    .p-rating .rating{
        display: flex;
    }
    .search_filter_wrap{
        margin-top: 0;
    }
    .line-heading{
        flex-direction: column;
        border: 0;
    }
    .icon-heading-mb{
        background: url(images/img_title.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 95px;
        height: 50px;
        display: block;
        display: block;
        align-items: center;
        vertical-align: c;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        position: relative;
        top:-8px;
    }
    .h-heading{
        text-align: center;
    }
    .bestselling .btn-tab{
      border-radius: 27px;
        padding: 2px 20px;
        display: flex
;
        justify-items: center;
        justify-items: center;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
    }
    .bestselling .btn-tab i{
        margin-left: 10px;
    }
    .bestselling .btn-tab svg{
        width: 20px;
        height: 20px;
    }
    .bestselling .line-heading{
        flex-direction: row;
        justify-content: start;
        gap: 19px;
    }
    .bestselling .btn-tab .h-heading{
        font-size: 12px;
    }

}
