.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
.woocommerce ul.products.columns-5 li.product, .woocommerce-page ul.products.columns-5 li.product{
    width: auto;
    margin: 0;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
    padding: .8rem 1rem;
}
@media only screen and (min-width: 800px) {

    .woocommerce ul.products{
        display: grid;
        
        gap: 15px 15px;
    }
    .woocommerce ul.products.columns-5{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .woocommerce ul.products.columns-4{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .woocommerce ul.products::before {
        content: " ";
        display: none;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
        padding: .5em 0;
        margin: 0;
        font-size: 1em;
        color: #5c5b5b;
        font-weight: 500;
    }
    .woocommerce ul.products li.product .button{
        font-size: 100%;
        margin: 0;
        line-height: 1;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        overflow: visible;
        padding: .618em 1em;
        font-weight: 700;
        border-radius: 3px;
        left: auto;
        color: #515151;
        background-color: #e9e6ed;
        border: 0;
        display: inline-block;
        background-image: none;
        box-shadow: none;
        text-shadow: none;
    
    }
    
}


.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price, .woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product span.price{
    color: #70A100 !important;
}
.woocommerce ul.products li.product .price,
.woocommerce ul.products li.product .price ins{
    font-size: .85rem;
    line-height: 1rem;
    font-weight: 700;
    letter-spacing: -1px;
    color: #70A100;
    text-decoration: none;
}




.woocommerce ul.products li.product .price del{
    margin-right: 10px;
}
.woocommerce ul.products li.product .price del{
    float: right;
    margin-left:9px;
}
.woocommerce ul.products li.product .price ins{
    float: left;
}
.woocommerce-products-header{
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
}
 .woocommerce ul.products li.product .woocommerce-loop-product__title{
    font-size: .975rem;
    line-height: 1.25rem;
    font-family: "Nunito", serif;
    color: #333333c2;
 }
 .woocommerce ul.products li.product .price del{
    color: rgb(156 163 175);
}
 .woo-price del .amount,
.woo-price del{
    color: rgb(153 153 153);
}

.woocommerce ul.products li.first, .woocommerce-page ul.products li.first,
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    clear: none;
}
.woocommerce-product-details__short-description{
    line-height: 1.8em;
    margin-top: 30px;
}

.related.products{

}

@media only screen and (min-width: 1000px){
    .wc-block-cart-item__product .wc-block-components-product-price,
    table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name ,
    table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__prices{
        display: inline-block !important;
    }
    table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name{
        margin-right: 20px;
    }
    .wc-block-cart-items__row{
        position: relative;
    }
    table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link{
       position: absolute;
        right: 14px;
        bottom: 50px;
    }
    .is-large.wc-block-cart .wc-block-cart-items td{
        padding-bottom: 1px !important;
    }
    .is-large.wc-block-cart .wc-block-cart-items td.wc-block-cart-item__image{
        padding-left: 0;
    }
}
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce nav.woocommerce-pagination ul{
    border:0;
}
.woocommerce nav.woocommerce-pagination ul li span.current{
    background-color: #fff;
}
.woocommerce div.product div.summary {
    color: #6c6969;
}
.select-number-items select{
    border-radius: 5px;
    min-width: 66px;
    color: rgb(75 85 99);
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span,
.select-number-items select{
    color: rgb(75 85 99);
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current{
    color: rgb(158 166 212);
}

.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale{
    background-color: #70A100;
    border-radius: 0;
    color: rgb(255 255 255);
    font-size: .75rem;
    line-height: 1rem;
    justify-content: center;
    display: grid;
    align-items: center;
    padding: 0 7px;
    font-weight: 400;
    margin: 0;
    top:-10px;

}
.home .woocommerce ul.products li.product a img,
body.archive.woocommerce ul.products li.product a img{
    margin: 0;
}
body.archive.woocommerce .woocommerce ul.products{
    gap: 20px 15px;
}
.woocommerce ul.products li.product:hover{
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.wrap-price-rating,
.wrap-price-only{
    padding-left: 7px;
    padding-right: 7px;
}
@media only screen and (max-width: 750px){
    .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
        padding-left: 0.6em;
        padding-right: 0.6em;
    }
}