h1, h2, h3{
    font-family: Nunito, Prompt, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
body.single-product form.cart select{
    width: 100%;
}
body.single-product form.cart .select-date{
    display: flex;
    margin-top: 10px;
}
body.single-product form.cart .select-date .date-item{
    width: 25%;
    position: relative;
}
body.single-product form.cart  .btn-add-to-cart{
   float: none;
   min-height: 3.5rem;
}
.grid{
    display: grid;
}
.grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
body.single-product form.cart .form-btn{
    gap: 1.5rem;
}
.card-form {
    --tw-border-opacity: 1;
    --tw-text-opacity: 1;
    border-color: rgba(220, 226, 230, var(--tw-border-opacity));
    border-radius: .25rem;
    border-width: 2px;
    color: rgba(0, 0, 0, var(--tw-text-opacity));

    border: 2px solid #d8d2d2;
    cursor: pointer;
    text-align: center;
    padding: 1rem 0 ;
    max-height: 45px;
}
.hidden_choice {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
}.hidden_choice, .hidden_choice_checkbox {
    cursor: pointer;
    z-index: 20;
}
body.single-product form.cart input.hidden_choice{
    width: 100%;
    height: 100%;
}
body.single-product form.cart input.hidden_choice:checked+.choice{
    border-color: rgb(158 166 212);
}
body.single-product form.cart .full{
    margin-bottom: 15px;
}
.fa-calendar-days{
    width:30px;
    height: 35px;
    background-image: url(../images/calendar.jpg);
    display: inline-block;
    text-align: center;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    top:-5px;

}
.date-week-day{
    font-weight: 600;
    text-transform: uppercase;
    padding: 00px 5px;
}
.date-month{
    padding: 0px 0;
    min-height: 24px;
}

.tw-transition-transform {
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.tw-w-4 {
    width: 1rem;
}
.tw-h-4 {
    height: 1rem;
}

.tw-w-4 {
    width: 1rem;
}
.tw-h-4 {
    height: 1rem;
}
.tw-py-2 {
    padding-bottom: .5rem;
    padding-top: .5rem;
}
.tw-px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}
.tw-rounded-lg {
    border-radius: .5rem;
}
.tw-justify-between {
    justify-content: space-between;
}


.tw-cursor-pointer {
    cursor: pointer;
}
.tw-flex {
    display: flex
;
}
.tw-text-sm {
    font-size: .875rem;
    font-weight: 400;
    color: #231f20;
    line-height: 1.25rem;
}
.tw-gap-2 {
    gap: .5rem;
}
.tw-items-center {
    align-items: center;
}
.tw-font-medium {
    font-weight: 500;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: inline-block;
    vertical-align: middle;
}
.tw-max-h-0 {
    max-height: 0;
}
.tw-overflow-hidden {
    overflow: hidden;
}
.js-coolcash-content{

}
.tw-p-2 {
    padding: .5rem;
}
.tw-border-cm-black\/20 {
    border-color: rgba(0, 0, 0, .2);
}
.tw-border-t {
    border-top-width: 1px;
}
.tw-mt-2 {
    margin-top: .5rem;
}
.md\:tw-mt-5 {
        margin-top: 1.25rem;
    }
}
.tw-mt-3 {
    margin-top: .75rem;
}
.tw-text-cm-blue {
    --tw-text-opacity: 1;
    color: rgb(39 59 205 / var(--tw-text-opacity));
}
.tw-font-semibold {
    font-weight: 600;
}
.tw-cursor-pointer {
    cursor: pointer;
}
.tw-my-4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.tw-bg-\[\#F1F3FF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(241 243 255 / var(--tw-bg-opacity));
}
.tw-rounded-lg {
    border-radius: .5rem;
}
.list-bundles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 10px;
}
.addon-box {
    height: 200px;
    overflow: hidden;
    position: relative;
}
.text-center {
    text-align: center;
}
.pb-2 {
    padding-bottom: .5rem;
}
.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}
.relative {
    position: relative;
}
.splide__slide {
    box-sizing: border-box;
    flex-shrink: 0;
    list-style-type: none !important;
    margin: 0;
    flex-grow: 1;
    position: relative;
    flex-shrink: 0;
}
.absolute {
    position: absolute;
}
.addon-info {
    --tw-bg-opacity: 1;
    background-color: rgba(158, 166, 212, var(--tw-bg-opacity));
}
.flex {
    display: flex
;
}
.addon-info {
    right: -3px;
    top: -3px;
    z-index: 500 !important;
}
.flex-col {
    flex-direction: column;
}
.addon-title {
    padding-right: .6rem;
    padding-top: 10px;
   
}
.addon-price{
 font-size: 12px;
}
.addon-title{
     font-size: 12px;
    color: rgb(158 166 212);
}
.line-clamp-2 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}
.addon-info i {
    color: #fff !important;
    display: inline-block;
    font-size: 14px;
    padding: 8px 10px 5px 8px;
    display: none;
}
.splide__slide img {
    vertical-align: bottom;
}
.choice{
    border: 2px solid #d9d6d6;
    border-radius: 5px;
}

.addon-img {
    height: 100px;
}
.object-center {
    -o-object-position: center;
    object-position: center;
}
.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}
.self-center {
    align-self: center;
}
.font-bold {
    font-weight: 700;
}
.cursor-pointer {
    cursor: pointer;
}
.hidden_choice{
    z-index: 20;
}
.hidden_choice:checked~div.choice, .hidden_choice_checkbox:checked~div.choice {
    --tw-border-opacity: 1;
    border-color: rgba(158, 166, 212, var(--tw-border-opacity));
    border-width: 2px;
}
[type=checkbox]:checked {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E);
}
[type=checkbox]:checked, [type=radio]:checked {
    background-color: currentColor;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: transparent;
}
.hidden {
    display: none;
}
.list-bundles li input[type=checkbox] {
    width: 100%;
    height: 209px;
    position: absolute;
    z-index: 999;
     opacity: 0;
    /* visibility: hidden; */
    top: 0;
    left: 0;
}
.hidden_choice:checked~div.choice, .hidden_choice_checkbox:checked~div.choice {
    --tw-border-opacity: 1;
    border-color: rgba(158, 166, 212, var(--tw-border-opacity));
    border-width: 2px;
}
.hidden_choice:checked~div.choice, .hidden_choice_checkbox:checked~div.choice {
    --tw-border-opacity: 1;
    border-color: rgba(158, 166, 212, var(--tw-border-opacity));
    border-width: 2px;
    border: 2px solid rgba(158, 166, 212);
}
input:checked~div.choice,
input:checked + .choice{
    background-color: red1;
}
.date-item .fa-calendar-days{
    max-height: 24px;
}
#datepicker {
    z-index: 9999;
    opacity: 0;
    position: absolute;
    height: 100px;
    background: red;
    top: 0;
    cursor: pointer;
}
.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.w-40 {
    width: 10rem;
}
.woocommerce .quantity .qty{
   border: 0;
    color: rgb(158 166 212);
    width: 33px;
    min-width: unset;
    font-size: .98rem;
    font-weight: 500;
    -moz-appearance: textfield;
     margin: 0;

}
.woocommerce .quantity input.qty::-webkit-outer-spin-button,
.woocommerce .quantity input.qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.woocommerce .quantity input.qty:focus{
    border:0;
    outline: none;
}

.text-brand{
    color: rgb(158 166 212);
    align-items: center;
    font-size: 1rem;
}
.border-0 {
    border-width: 0;
}
.w-16 {
    width: 4rem;
}
.h-10 {
    height: 2.5rem;
}

.btn-minus-quantity{
    text-indent: 5px;
}
.btn {
    cursor: pointer;
}
.woocommerce .star-rating span:first-child,
.woocommerce .star-rating span:first-child i,
span.rate-score{
    color: rgb(251 191 36);
}

 span.rate-score {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: 3px;
}
.woocommerce div.product .product_title{
    color: rgb(0 0 0);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: .75rem;
    text-transform: uppercase;
    position: relative;
}
.woocommerce div.product .product_title:after {
    border: 1px solid #e6eaed;
    bottom: -10px;
    content: "";
    left: 0;
    position: absolute;
    width: 30%;
}
.related.products h2{
    margin-bottom: 20px;
    text-align: center;
}

.woo-price .amount{
    font-size: 20px;
    font-weight: 700;
}
@media only screen and (max-width: 750px){
    
    body.single-product form.cart .select-date{
        gap: 0;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li{
                display: block;
        width: 100%;
        clear: both;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a{
        display: block;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a{
        text-align: center;
    }
}

.slick-slider .slick-track, .slick-slider .slick-list{
    max-height: 729px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
    background-color: #fff;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    float: left;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a{
    color: #b3b3b3;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    position: relative;
    transition: all 300ms ease;
    padding: 11px 25px;
    border-bottom: 2px solid #ccc;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
    background-color: #fff;
    padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: inherit;
    text-shadow: inherit;
    color: #333333;
    border-bottom: 2px solid #202020;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after{
    display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    padding-left: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.description_tab  a,
.woocommerce div.product .woocommerce-tabs ul.tabs li:first-child a{
    padding-left: 0;
}
.woocommerce div.product .woocommerce-tabs .panel{
    line-height: 1.7em;
}

.wrap-price-only.flex,
.wrap-price-rating.flex {
    justify-content: center;
    gap: 33px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 2px solid #cfc8d8;
}
@media only screen and (min-width: 1000px){

    p.comment-form-author , p.comment-form-email{
        width: 18%;
        display: inline-block;
    }
}
p.comment-form-author label, p.comment-form-email label{
    display: block;
}
p.comment-form-author input, p.comment-form-email input{
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 3px;
}
.woocommerce #review_form #respond textarea{
    max-width: 600px;
    display: block;
    clear: both;
    border-radius: 3px;
}
.comment-reply-title{
    font-weight: 600;
    display: block;
    clear: both;
    padding: 10px 0;
    font-size: 1.3em;
    text-transform: uppercase;
}
#review_form{
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 36px;
}
.woocommerce p.stars a{
    font-size: 1.3em;
}
.designBanner .slick-next::before,
.designBanner .slick-prev::before{
    display: none;
}
.gnb_bnr_slide_02 .slick-slider .slick-next,
.gnb_bnr_slide_02 .slick-slider .slick-prev{
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.gnb_bnr_slide_02:hover .slick-slider .slick-arrow,
.gnb_bnr_slide_02 .slick-slider .slick-arrow,
.gnb_bnr_slide_02:hover .slick-slider .slick-arrow{
    transform: translateX( 0 ) !important;
}
.gnb_bnr_slide_02:hover .slick-slider .slick-arrow, 
.gnb_bnr_slide_02:hover .slick-slider .slick-arrow{

}